Jumbotron {
  box-sizing: border-box;
  margin: 0 auto;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.text {
  text-align: left;
  font-style: oblique;
  font-family: fantasy;
  text-shadow: 2px 2px rgb(204, 211, 111);
  color: rgb(35, 101, 201);
}

.q {
  font-size: bold;
  font-style: oblique;
  font-family: fantasy;
  text-shadow: 2px 2px rgb(204, 211, 111);
  color: rgb(35, 101, 201);
}

#par {
  font-size: bold;
  font-style: oblique;
  font-family: fantasy;
  text-shadow: 2px 2px rgb(204, 211, 111);
  color: rgb(35, 101, 201);
}

.input {
  border: 2px solid rgb(35, 101, 201);
  border-radius: 8px;
}

#animation {
  width: 400px;
  height: 200px;
  margin-top: 350px;
  margin-left: -355px;
  background: url("https://media1.tenor.com/images/d1e3804148177be9882572ee45f63620/tenor.gif?itemid=5115394") center bottom;
}

* { 
  margin: 0; 
  padding: 0; 
} 

.dot { 
  border-radius: 50%; 
} 

.dot span { 

  position: absolute; 
  display: block; 
  border: 5px; 
  border-radius: 50%; 
  animation: animate 3s ease-in-out infinite; 

} 

@keyframes animate { 
  0% { 
      transform: translateY(-300px); 
  } 

  50% { 
      transform: translateY(190px); 
      width: -100px; 
      height: +100px; 

  } 

  100% { 
      transform: translateY(-300px); 
  } 
} 

.dot span:nth-child(1) { 
  top: 300px; 
  left: 250px; 
  height: 50px; 
  width: 30px; 
  background-color: yellow; 
  opacity: 0.7; 
  animation-delay: 0.3s; 
  animation-direction: reverse; 
} 

.dot span:nth-child(2) { 
  top: 310px; 
  left: 400px; 
  height: 70px; 
  width: 40px; 
  background-color: green; 
  opacity: 0.9; 
  animation-delay: 0.3s; 
  animation-direction: reverse; 
  animation-duration: 2.3s; 
} 

.dot span:nth-child(3) { 
  top: 300px; 
  left: 700px; 
  height: 20px; 
  width: 70px; 
  background-color: #a97f58; 
  opacity: 0.9; 
  animation-delay: 0.5s; 
  animation-direction: reverse; 
  animation-duration: 2.6s; 
} 

.dot span:nth-child(4) { 
  top: 300px; 
  left: 1080px; 
  height: 80px; 
  width: 50px; 
  background-color: #FA58AC; 
  opacity: 0.9; 
  animation-delay: 0.7s; 
  animation-direction: reverse; 
  animation-duration: 2.3s; 
} 

.dot span:nth-child(5) { 
  top: 300px; 
  left: 700px; 
  height: 20px; 
  width: 100px; 
  background-color: #db7252; 
  opacity: 0.9; 
  animation-delay: 0.7s; 
  animation-direction: reverse; 
  animation-duration: 2.3s; 
} 
.dot span:nth-child(6) { 
  top: 176px; 
  left: 1300px; 
  height: 90px; 
  width: 35px; 
  background-color: #02269b; 
  opacity: 0.9; 
  animation-delay: 0.7s; 
  animation-direction: reverse; 
  animation-duration: 2.3s; 
} 
.dot span:nth-child(7) { 
  top: 55px; 
  left: 550px; 
  height: 50px; 
  width: 30px; 
  background-color: #5b768b; 
  opacity: 0.9; 
  animation-delay: 0.7s; 
  animation-direction: reverse; 
  animation-duration: 2.3s; 
} 
.dot span:nth-child(8) { 
  top: 300px; 
  left: 300px; 
  height: 80px; 
  width: 80px; 
  background-color: #16af37; 
  opacity: 0.9; 
  animation-delay: 0.7s; 
  animation-direction: reverse; 
  animation-duration: 2.3s; 
} 
.dot span:nth-child(9) { 
  top: 15px; 
  left: 50px; 
  height: 70px; 
  width: 100px; 
  background-color: #800913; 
  opacity: 0.9; 
  animation-delay: 0.7s; 
  animation-direction: reverse; 
  animation-duration: 2.3s; 
} 
.dot span:nth-child(10) { 
  top: 215px; 
  left: 999px; 
  height: 80px; 
  width: 50px; 
  background-color: #a014a0; 
  opacity: 0.9; 
  animation-delay: 0.7s; 
  animation-direction: reverse; 
  animation-duration: 2.3s; 
} 

.glowFact {
  font-size: 60px;
  font-family: monospace;
  color: rgb(133, 25, 25);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.top {
  text-align: center;
  padding: 3% 3% 3% 3%;
  width: 90%;
  margin: auto;
  background-color: bisque;
  
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-around;
}

.image {
  width: 70%;
  position: relative;
  margin: 3%;
  box-shadow: 0 14px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fact {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.titleText {
  font-family: Snell Roundhand, cursive;
  font-size: 2em;
  letter-spacing: 4px;
  color: crimson;
}


